@border-color: rgba(255, 255, 255, 0.55);
@background-default-color: rgba(255, 255, 255, 0.55);
@button-as-cell-color: rgba(100, 100, 100, 0.8);

progress{
    width:100%;
}

#PauseImport{
    display:none;
}

div.sumvalues{
    display: table;
    width: 100%;
    .sumrow{
        display:flex;
        flex-direction: row;
        padding: 0px 15px;
        .country, .sumvalue{
            flex:1;
        }
    }

    header.sumrow{
        padding: 0px;
        font-weight: bold;
        text-align: center;
        color: white;

        .sumvalue{
            border-left: 1px solid @border-color;
        }
    }

    .sumrow:not(:last-child){
        border-bottom: 1px solid @border-color;
    }
}

.inner{
    height: 100vh;
    display: flex;
    flex-direction: column;

    #sums{
        overflow-y:scroll;
    }
}

#intro .inner, #one .inner{
    height: auto;
}

#sidebar .inner{
    height: auto;
}

div.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    select, input[type="datetime-local"] {
        flex:1;
        margin:0px 1em;
        min-width: 5em;
    }
    label{
        margin: 0;
    }
    div{
        display: flex;
        flex-direction: row;
        flex: 1
    }
    div.horizontal{
        flex-direction : row
        flex: 1;
        margin-bottom: 1em;
    }

    div.vertical{
        flex-direction : column;
        height: 8em;
    }
}

#valuesbyyeargraph{
    width: 100%;
    overflow: hidden;
}

// Spinners -----------------------------------------------------------

.spinner {
  margin: 0 auto;
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #DDD;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.input-picker .picker-list{

}
// Fix polyfill for datetime picker

span.input-buttons{
    width: 2.5em;
    height: 2.5em;
    button{
        width: 2.5em;
        height: 2.5em;
    }
}

span.step-controls{
    display : none;
}

div.ws-popover {
    .ws-po-box{
        border-radius: 5px;
        background-color: @background-default-color;

        .ws-button-row {
            border-top: none;
            & > button{
                height: auto;
                background-color : @button-as-cell-color;
            }
        }

         .ws-picker-body {
            .picker-list{
                background-color: transparent;
            }
            td > button{
                background-color : @button-as-cell-color;
                border-radius: 0;
                height: auto;
            }
         }

    }

    //I overrode this behavior earlier, lets revert it for this code
    div {
        display: block;
    }
}